@charset "UTF-8";
/* line 3, ../projet/sass/app.scss */
#notification {
  width: 50%;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 4px solid rgba(0, 0, 0, 0.6);
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  background-color: #f1f1f1;
  position: fixed;
  top: 5%;
  left: 20%;
  z-index: 1000;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
/* line 15, ../projet/sass/app.scss */
#notification .compteur {
  display: inline-block;
  float: right;
  margin-top: -8px;
  margin-right: -17px;
  font-size: 1.2em;
}

/*
	STANDARD STYLE 
*/
/* line 27, ../projet/sass/app.scss */
#alert-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
/* line 34, ../projet/sass/app.scss */
#alert-box .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
/* line 42, ../projet/sass/app.scss */
#alert-box .bg i {
  color: #ffffff;
  float: right;
  margin-right: 16px;
  margin-top: 10px;
  cursor: pointer;
}
/* line 50, ../projet/sass/app.scss */
#alert-box .alert-main {
  width: 50%;
  height: 70%;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  margin-top: 9%;
  margin-left: 35%;
  overflow: auto;
  padding: 1%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 61, ../projet/sass/app.scss */
#alert-box .alert-main .msg {
  display: block;
  position: relative;
  margin-top: 20%;
  text-align: center;
}

/* line 71, ../projet/sass/app.scss */
#authentification {
  width: 400px;
  margin: 10% auto;
}

/* line 79, ../projet/sass/app.scss */
.input label {
  display: block;
  color: rgba(0, 0, 0, 0.6);
}
/* line 83, ../projet/sass/app.scss */
.input input[type="text"],
.input input[type="number"],
.input input[type="date"],
.input input[type="password"],
.input select {
  height: 30px;
  border: 1px solid #dddddd;
  font-size: 1em;
  font-family: "Rockwell,Gautami";
  width: 100%;
  outline: none;
  padding-left: 2%;
}
/* line 96, ../projet/sass/app.scss */
.input input[type="text"]:focus,
.input input[type="number"]:focus,
.input input[type="date"]:focus,
.input input[type="password"]:focus,
.input select:focus {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 101, ../projet/sass/app.scss */
div {
  vertical-align: top;
}

/* line 104, ../projet/sass/app.scss */
div.submit {
  text-align: center;
}

/* line 107, ../projet/sass/app.scss */
div.c1 {
  width: 95%;
  margin-left: 1%;
  padding: 0;
  display: inline-block;
}

/* line 113, ../projet/sass/app.scss */
div.c2 {
  width: 47%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 119, ../projet/sass/app.scss */
div.c3 {
  width: 30.8%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 125, ../projet/sass/app.scss */
div.c4 {
  width: 22.5%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 131, ../projet/sass/app.scss */
div.s3 {
  width: 65.2%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 137, ../projet/sass/app.scss */
form.form-bloc {
  border: 1px solid #dddddd;
  padding: 0;
  width: 80%;
  margin-left: 10%;
  background-color: #f9f9f9;
}
/* line 143, ../projet/sass/app.scss */
form.form-bloc .titre {
  display: block;
  width: 100%;
  margin-left: 0;
  padding: 8px 0 8px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: bolder;
  text-shadow: 0 1px 1px #ffffff;
  margin-bottom: 10px;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF6F6F6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
}

/* line 162, ../projet/sass/app.scss */
.societe {
  display: block;
  height: 40px;
  border-bottom: 1px solid #dddddd;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f1f1f1;
}
/* line 168, ../projet/sass/app.scss */
.societe .logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}
/* line 174, ../projet/sass/app.scss */
.societe .logo img {
  width: 100%;
  height: 100%;
}
/* line 179, ../projet/sass/app.scss */
.societe .nom {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

/* line 186, ../projet/sass/app.scss */
#confirm-delete {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
/* line 192, ../projet/sass/app.scss */
#confirm-delete .back {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
}
/* line 198, ../projet/sass/app.scss */
#confirm-delete .box {
  width: 40%;
  margin-left: 30%;
  margin-top: 17%;
  position: absolute;
  text-align: center;
  background-color: #ffffff;
  padding: 1%;
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

/* line 209, ../projet/sass/app.scss */
div.image {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

/* line 214, ../projet/sass/app.scss */
.boitemessage {
  /*
  	Boite de reception
  	*/
}
/* line 219, ../projet/sass/app.scss */
.boitemessage .menu {
  /*background-color: #f9f9f9;*/
  min-height: 400px;
}
/* line 222, ../projet/sass/app.scss */
.boitemessage .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 226, ../projet/sass/app.scss */
.boitemessage .menu ul li {
  text-indent: 20px;
  margin: 3px;
  background-color: transparent;
}
/* line 230, ../projet/sass/app.scss */
.boitemessage .menu ul li a {
  background-color: transparent;
}
/* line 234, ../projet/sass/app.scss */
.boitemessage .menu ul li.active {
  border-left: 5px solid #e07d7d;
}
/* line 236, ../projet/sass/app.scss */
.boitemessage .menu ul li.active a {
  color: #e07d7d;
  font-weight: bolder;
  font-size: 1.1em;
}
/* line 245, ../projet/sass/app.scss */
.boitemessage .contenu {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 400px;
}
/* line 248, ../projet/sass/app.scss */
.boitemessage .contenu .entete-message {
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 252, ../projet/sass/app.scss */
.boitemessage .contenu .entete-message .objet {
  font-weight: bolder;
}
/* line 255, ../projet/sass/app.scss */
.boitemessage .contenu .entete-message .details {
  color: rgba(0, 0, 0, 0.4);
}
/* line 260, ../projet/sass/app.scss */
.boitemessage .contenu .contenu-message {
  padding: 10px;
  font-family: "Trebuchet MS";
  text-align: justify;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
}
/* line 268, ../projet/sass/app.scss */
.boitemessage .contenu .fichier-telecharger {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #f2f2f2;
  padding: 8px 0;
}
/* line 274, ../projet/sass/app.scss */
.boitemessage .contenu .unMessage {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  padding: 5px 0;
}
/* line 279, ../projet/sass/app.scss */
.boitemessage .contenu .unMessage div {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
}
/* line 283, ../projet/sass/app.scss */
.boitemessage .contenu .unMessage .dateenvoi {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  font-style: italic;
}
/* line 288, ../projet/sass/app.scss */
.boitemessage .contenu .unMessage .objet {
  font-weight: bold;
}
/* line 291, ../projet/sass/app.scss */
.boitemessage .contenu .unMessage:hover {
  background-color: #f1f1f1;
}
/* line 296, ../projet/sass/app.scss */
.boitemessage .contenu .non-lu {
  background-color: #ffffff;
}

/* line 301, ../projet/sass/app.scss */
.boitemessage-send {
  /*
  Boite d'envoi
  */
}

/* line 308, ../projet/sass/app.scss */
#calendrier-ferier {
  overflow: auto;
  min-height: 30px;
  min-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
/* line 314, ../projet/sass/app.scss */
#calendrier-ferier .annee {
  margin: 2px;
  background-color: #f1f1f1;
}
/* line 317, ../projet/sass/app.scss */
#calendrier-ferier .annee .titre {
  background-color: #777;
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
}
/* line 324, ../projet/sass/app.scss */
#calendrier-ferier .annee .contenu .mois {
  display: inline-block;
  width: 16%;
  margin: 4px 1px;
}
/* line 329, ../projet/sass/app.scss */
#calendrier-ferier .annee .contenu .mois .titre {
  background-color: #ccc;
  text-align: center;
  font-size: 1em;
}
/* line 335, ../projet/sass/app.scss */
#calendrier-ferier .annee .contenu .mois .contenu .unJour {
  padding: 1px 2px;
  cursor: pointer;
}
/* line 337, ../projet/sass/app.scss */
#calendrier-ferier .annee .contenu .mois .contenu .unJour span {
  display: inline-block;
}
/* line 340, ../projet/sass/app.scss */
#calendrier-ferier .annee .contenu .mois .contenu .unJour .chaine {
  width: 70%;
  font-family: "Courier New";
  color: rgba(0, 0, 0, 0.7);
}
/* line 349, ../projet/sass/app.scss */
#calendrier-ferier .annee .contenu .mois .contenu .success {
  background-color: #dff0d8;
  color: #3c763d;
}

/* line 360, ../projet/sass/app.scss */
.panel .panel-heading i.plis {
  float: right;
  cursor: pointer;
}

/* line 365, ../projet/sass/app.scss */
.consultation-societe {
  border: 1px solid #dddddd;
  height: 400px;
  width: 90%;
  margin-left: 5%;
  background-color: #f9f9f9;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* line 373, ../projet/sass/app.scss */
.consultation-societe .icon {
  width: 30%;
  height: 400px;
  border-right: 4px solid #000;
  display: inline-block;
  vertical-align: top;
  background-color: #356aa0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF356AA0', endColorstr='#FF356AA0');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NmFhMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM1NmFhMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356aa0), color-stop(100%, #356aa0));
  background-image: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  background-image: -webkit-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  background-image: linear-gradient(to bottom, #356aa0 0%, #356aa0 100%);
}
/* line 384, ../projet/sass/app.scss */
.consultation-societe .icon .nom {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5em;
  padding-top: 40px;
  color: #ffffff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}
/* line 394, ../projet/sass/app.scss */
.consultation-societe .icon .image {
  width: 100%;
  height: 250px;
  line-height: 250px;
}
/* line 398, ../projet/sass/app.scss */
.consultation-societe .icon .image img {
  width: 100%;
  display: inline-block;
}
/* line 403, ../projet/sass/app.scss */
.consultation-societe .icon .lien {
  padding-top: 20px;
}
/* line 405, ../projet/sass/app.scss */
.consultation-societe .icon .lien a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 2px;
}
/* line 410, ../projet/sass/app.scss */
.consultation-societe .icon .lien a:hover {
  text-decoration: underline;
  color: #ffffff;
}
/* line 415, ../projet/sass/app.scss */
.consultation-societe .icon .lien a.active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF6F6F6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #000;
  font-weight: bolder;
  padding: 0 4px;
}
/* line 425, ../projet/sass/app.scss */
.consultation-societe .icon .lien a.active:hover {
  text-decoration: none;
}
/* line 431, ../projet/sass/app.scss */
.consultation-societe .detail {
  display: inline-block;
  width: 68%;
  height: 100%;
  overflow: auto;
}
/* line 436, ../projet/sass/app.scss */
.consultation-societe .detail .add-exo {
  overflow: hidden;
  /*height: 30px;*/
  border-bottom: 3px solid #ccc;
  margin-bottom: 6px;
}
/* line 441, ../projet/sass/app.scss */
.consultation-societe .detail .add-exo .buttons {
  text-align: right;
  height: 30px;
}
/* line 446, ../projet/sass/app.scss */
.consultation-societe .detail .les-exos {
  background-color: #ffffff;
}

/* line 452, ../projet/sass/app.scss */
.message {
  background-color: #f7f7f9;
  border: 1px solid #444;
  position: absolute;
  z-index: 10;
  padding: 10px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 460, ../projet/sass/app.scss */
.message i {
  color: #ccc;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
}

/* line 467, ../projet/sass/app.scss */
#logoSociete {
  display: inline-block;
  width: 100%;
}

/*
presentation employ├®
*/
/* line 474, ../projet/sass/app.scss */
.salarie-presentation {
  padding: 10px 0;
  padding-left: 5px;
}
/* line 480, ../projet/sass/app.scss */
.salarie-presentation .image img {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 484, ../projet/sass/app.scss */
.salarie-presentation div.sblock {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 487, ../projet/sass/app.scss */
.salarie-presentation div.block {
  background-color: #ffffff;
}
/* line 488, ../projet/sass/app.scss */
.salarie-presentation div.block .modifier-block {
  text-align: right;
}
/* line 494, ../projet/sass/app.scss */
.salarie-presentation div.block .titre-bloc {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Segoe UI";
  color: #4f85bb;
}
